link-color = #c36220

*
    box-sizing border-box

a
    text-decoration none

.cf:before,
.cf:after
    content " "
    display table

.cf:after
    clear both

body
    background-color #f5f4f3
    font-family 'Avenir Next', 'allerregular', Arial, sans-serif
    -webkit-font-smoothing antialiased

.container
    margin 0 auto
    max-width 720px
    padding 0 10px

.container > header
    height 80px
    margin-top 10px
    position relative

    i
        background url('/icons/chrisabrams.jpg') no-repeat
        border 1px solid #ddd
        box-shadow rgba(#fff, .5) 0 1px 1px
        border-radius 6px
        height 60px
        left 0
        margin 0
        padding 0
        position absolute
        top 0
        width 60px

    h1
        display inline-block
        font-size 24px
        font-weight 400
        margin 0
        padding 0 0 0 75px

        a
            color #000

    h2
        display inline-block
        font-weight 300
        margin 0
        padding 0 0 0 10px
        font-size 1em
    
pre code, p code
    font-family 'Menlo', monospace
    font-size .9em
    line-height 1.4em

.content

    article
        background #fff
        border 1px solid #ddd
        display block
        margin 0 0 40px
        padding 20px
        border-radius 1px
        box-shadow rgba(#000, .2) 0 1px 2px

        h1, h2, h3
            font-weight normal
            letter-spacing -1px
            margin 28px 0 0

            a
                color link-color

        h1
            font-weight 500
            // color #288083
            font-size 36px
            line-height 1.3
            margin 12px 0

            @media (max-width: 460px)
                font-size 30px

        h2
            font-size 24px
            font-weight 500
            color #999
        
        h3
            font-size 14px
            text-transform uppercase
            letter-spacing 1px
            color #999

        header
            min-height 130px
            margin 0 0 20px

            time
                // color #a3a3a3
                float left
                font-size 11px
                text-transform uppercase
                letter-spacing 1px
                margin 0
                padding-left 16px
                position relative
                color #666

            time:before
                // color #a3a3a3
                content ' 🕔 '
                font-family 'entypo_regular'
                font-size 20px
                left 0
                position absolute
                top -3px

        p
            font-size 16px
            font-weight 400
            color #333
            line-height 1.6
            margin 4px 0 12px

            a
                color link-color
                position relative
                z-index 10

                &:before
                    content ''
                    position absolute
                    width 100%
                    height 1px
                    left 0
                    bottom .17em
                    background-color rgba(#ddd, .5)
                    z-index -1

                &:hover
                    color saturate(lighten(link-color, 5),15)

                    &:before
                        background-color rgba(link-color, .2)

            strong
                font-weight 600
        
        ul
            list-style-type none
            margin 0
            padding 0

            li
                padding-left 1em
                margin .2em 0
                position relative


                &:after
                    background-color #ccc
                    height 6px
                    width 6px
                    content ''
                    border-radius 5px
                    position absolute
                    display block
                    left .2em
                    top .5em
                    box-shadow rgba(#000,.3) 0 1px 1px
        .social-buttons
            float right
            position relative
            top -.2em

        .social-button
            display inline-block
            width 84px

            &.google-plus-one-button
                width 64px

.links
    padding-left 75px
    
    > div, > a
        display inline-block
        padding-right 12px
    
    .twitter-follow-button
        position relative
        top 2px
    a
        color link-color
        font-size 13px
        margin 3px 0 8px 20px
        position relative

    .icon:before
        font-family 'entypo_social'
        font-size 28px
        left -20px
        line-height 18px
        position absolute
        top 0
        width 20px

    .icon-github:before
        content ''

    .icon-linkedin:before
        content ''

    .icon-rss:before
        content ''
        font-family 'entypo_regular'

    .icon-vimeo:before
        content ''

.follow-bottom span
    float left
    margin-right 10px

footer
    clear both
    color #999
    font-size 12px
    margin 20px 0 40px
    text-align center

// iPad in portrait and landscape

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { /* STYLES GO HERE */}

// iPad in landscape

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { /* STYLES GO HERE */}

// iPad in portrait

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { /* STYLES GO HERE */ }

// non-Retina iPad

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1){ /* STYLES GO HERE */}

// non-Retina iPad in landscape

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

// non-Retina iPad in portrait

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) { /* STYLES GO HERE */ }

// Retina iPad

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

// Retina iPad in landscape

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

// Retina iPad in portrait

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */ }

// iPad mini

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

// iPad mini in landscape

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

// iPad mini in portrait

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */ }

// Just tryin

@media only screen and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2)

    .icon-rss
        display none

// iPhone 5

@media only screen and (min-device-width : 320px) and (max-device-width : 568px)

    .container .links .icon-rss
        display none

@media only screen and (min-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {}

// iPhone 5 in landscape

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {}

// iPhone 5 in portrait

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait)

    .container > header > h2
        padding 0 0 0 75px

    .container .links
        display none

    .social-buttons
        display block
        float none
        margin-top 10px

    .follow-bottom .social-button
        clear both
        float left
        margin 4px 0 10px

// iPhone 2G-4S

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)

    .container .links .icon-rss
        display none

// iPhone 2G-4S in landscape

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) { /* STYLES GO HERE */}

// iPhone 2G-4S in portrait

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait)

    .container > header > h2
        padding 0 0 0 75px

    .container .links
        display none

    .social-buttons
        display block
        float none
        margin-top 10px

    .follow-bottom .social-button
        clear both
        float left
        margin 4px 0 10px
